.home-title {
    max-width: 16ch;
    color: #112d58;
    line-height: 1.2;
}




.hero-subtitle {
    max-width: 50ch;
}


#backg {
    background-image: url('../assets/illustrasi.png'), url('../assets//Vector.png');
    background-position: top right, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 8%;
}

@media (max-width: 600px) {
    .hero {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .home-title {
        font-size: 2.5rem;
    }

    .hero-subtitle {
        font-size: 0.9rem;
    }

}

@media (max-width: 1200px) {
    #backg {
        background-image: url('../assets/bgg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}